body {
  background-color: brown;
}

#container {
  margin: auto;
  background-color: white;
  display: inline-block;
  padding: 50px;
  padding-top: 10px;
  padding-bottom: 200px;
  border-radius: 30px;
};

#container .h1 {
  color: blue;
  padding-bottom: 20px;
}

.none {
  display: none;
}